#
# AzerothCore
#

/conf/*
!/conf/dist
/modules/*
!/modules/*.md
!/modules/*.sh
!/modules/CMakeLists.txt
!/modules/*.h
!/modules/*.cmake
/build*/
/var/*
!/var/build/.gitkeep
!/var/ccache/.gitkeep
/env/dist/*
!/env/dist/.gitkeep
/env/user/*
/.env*
/apps/joiner
/deps/deno
/data/sql/custom/*
/src/server/scripts/Custom/*
!/src/server/scripts/Custom/README.md

/*.override.yml
/*.override.yaml

!.gitkeep

# default build directory if not specified by CMAKE configuration
/out/*

#
#Generic
#

.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*

#
# IDE & other software
#
/.settings/
/.externalToolBuilders/*
# exclude in all levels
nbproject/
.sync.ffs_db
*.kate-swp
.browse.VC*
.idea
cmake-build-*/*
coverage-report/
.vs

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#
# Eclipse
#
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.cproject


# ==================
#
#  CUSTOM
#
#  put below your custom ignore rules
#  for example , if you want to include a
#  module directly in repositoryyou can do:
#
#  !modules/yourmodule
#
# ==================
/.vscode/tasks.json
/apps/git_tools/sync-and-build.ps1
/apps/git_tools/sync-changed.ps1
authorized_keys.remote
.vscode/tasks.json
apps/git_tools/credential-manager.ps1
apps/git_tools/install_remote_key.sh
apps/git_tools/README.md
apps/git_tools/ssh-config.json
apps/git_tools/ssh-sync-and-build.ps1
Custom/Custom feature SQLs/acore_world.sql
Custom/Custom feature SQLs/acore_chars.sql
Custom/Retail_Reference/*
Custom/Client patches needed/patch-5.MPQ
